@use '~scss/utilities' as *;

.#{$prefix}menu {
  background-color: $neutral-0;
  border-radius: 6px;
  box-shadow:
    0 0 8px 0 rgba(0, 0, 0, 0.08),
    0 10px 12px 0 rgba(0, 0, 0, 0.1);

  &__list-item {
    background-color: $neutral-0;
    width: 100%;
    color: $blue-gray-700;

    &:disabled {
      color: $blue-gray-700;
    }

    &:hover {
      background-color: $blue-gray-100;
    }
  }

  &--density-1 &__list-item {
    padding: 16px;
    height: 48px;
    min-width: 200px;
  }

  &--density-2 &__list-item {
    padding: 16px 16px 8px;
    height: 64px;
    min-width: 256px;
  }
}
