@use '~/scss/utilities' as *;

.#{$prefix}button {
  font-size: var(--#{$prefix}font-size-md);
  font-weight: var(--#{$prefix}font-weight-medium);
  line-height: var(--#{$prefix}line-height-lg);
  letter-spacing: var(--#{$prefix}letter-spacing-lg);
  text-transform: none;
  display: flex;
  border-radius: var(--#{$prefix}border-radius-2xs);

  & > .MuiButton-startIcon {
    margin: 0;
  }

  &__small {
    @extend %size-small;
  }

  &__medium {
    @extend %size-medium;
  }

  &__large {
    @extend %size-large;
  }

  &__extraLarge {
    @extend %size-extra-large;
  }

  &__xxl {
    @extend %size-xxl;
  }

  &__contained {
    @extend %variant-contained;
  }

  &__containedLight {
    @extend %variant-contained-light;
  }

  &__tonal {
    @extend %variant-tonal;
  }

  &__text {
    @extend %variant-text;
  }

  &__danger {
    @extend %variant-danger;
  }
}

%size-small {
  font-size: var(--#{$prefix}font-size-sm);
  line-height: var(--#{$prefix}line-height-sm);
  padding: var(--#{$prefix}space-1);
  column-gap: var(--#{$prefix}space-1);
}

%size-medium {
  padding: var(--#{$prefix}space-1) var(--#{$prefix}space-1-5);
  column-gap: var(--#{$prefix}space-1);
}

%size-large {
  padding: var(--#{$prefix}space-1-5) var(--#{$prefix}space-2);
  column-gap: var(--#{$prefix}space-1-5);
}

%size-extra-large {
  padding: var(--#{$prefix}space-2);
  column-gap: var(--#{$prefix}space-1-5);
}

%size-xxl {
  padding: var(--#{$prefix}space-1-5) var(--#{$prefix}space-4);
  column-gap: var(--#{$prefix}space-1-5);
}

%variant-contained {
  background-color: var(--#{$prefix}blue-gray-800);
  color: var(--#{$prefix}neutral-50);

  &:hover {
    background-color: var(--#{$prefix}blue-gray-700);
    color: var(--#{$prefix}neutral-50);
  }

  &:is(:focus-visible, :active) {
    background-color: var(--#{$prefix}blue-gray-500);
    color: var(--#{$prefix}neutral-50);
  }

  &:disabled {
    background-color: var(--#{$prefix}blue-gray-50);
    color: var(--#{$prefix}blue-gray-300);
  }
}

%variant-contained-light {
  background-color: var(--#{$prefix}blue-gray-500);
  color: var(--#{$prefix}neutral-50);

  &:hover {
    background-color: var(--#{$prefix}blue-gray-400);
    color: var(--#{$prefix}neutral-50);
  }

  &:is(:focus-visible, :active) {
    background-color: var(--#{$prefix}blue-gray-500);
    color: var(--#{$prefix}neutral-50);
  }

  &:disabled {
    background-color: var(--#{$prefix}blue-gray-50);
    color: var(--#{$prefix}blue-gray-300);
  }
}

%variant-tonal {
  background-color: var(--#{$prefix}blue-gray-50);
  color: var(--#{$prefix}blue-gray-800);

  &:hover {
    background-color: var(--#{$prefix}blue-gray-50);
    color: var(--#{$prefix}blue-gray-800);
  }

  &:is(:focus-visible, :active) {
    background-color: var(--#{$prefix}blue-gray-100);
    color: var(--#{$prefix}blue-gray-800);
  }

  &:disabled {
    background-color: var(--#{$prefix}blue-gray-50);
    color: var(--#{$prefix}blue-gray-200);
  }
}

%variant-text {
  background-color: transparent;
}

%variant-danger {
  background-color: var(--#{$prefix}red-500);
  color: var(--#{$prefix}neutral-50);

  &:hover {
    background-color: var(--#{$prefix}red-400);
    color: var(--#{$prefix}neutral-50);
  }
}
