@use '~/scss/foundation/index' as *;

.s2s-button {
  font-size: var(--s2s-button-font-size, $fs-base);
  font-weight: var(--s2s-button-font-weight, $fw-medium);
  line-height: var(--s2s-button-line-height, $lh-base);
  letter-spacing: var(--s2s-button-letter-spacing, $ls-base);
  text-transform: var(--s2s-button-text-transform, $tt-none);
  display: flex;
  border-radius: spacing(1);

  & > .MuiButton-startIcon {
    margin: 0;
  }

  &__small {
    @extend %size-small;
  }

  &__medium {
    @extend %size-medium;
  }

  &__large {
    @extend %size-large;
  }

  &__extraLarge {
    @extend %size-extra-large;
  }

  &__xxl {
    @extend %size-xxl;
  }

  &__contained {
    @extend %variant-contained;
  }

  &__containedLight {
    @extend %variant-contained-light;
  }

  &__tonal {
    @extend %variant-tonal;
  }

  &__text {
    @extend %variant-text;
  }

  &__danger {
    @extend %variant-danger;
  }
}

%size-small {
  font-size: var(--s2s-button-small-font-size, $fs-sm);
  line-height: var(--s2s-button-small-line-height, $lh-sm);
  padding: 0.375rem spacing(2); // hardcoded value needed for this button according to the design
  column-gap: spacing(2);
}

%size-medium {
  padding: spacing(2) spacing(3);
  column-gap: spacing(2);
}

%size-large {
  padding: spacing(3) spacing(4);
  column-gap: spacing(3);
}

%size-extra-large {
  padding: spacing(4);
  column-gap: spacing(3);
}

%size-xxl {
  padding: 0.75rem 2rem;
  column-gap: 0.75rem;
}

%variant-contained {
  background-color: var(--s2s-btn-contained-bg, $blue-gray-900);
  color: var(--s2s-btn-contained-color, $white);

  &:hover {
    background-color: var(--s2s-btn-contained-hover-bg, $blue-gray-800);
    color: var(--s2s-btn-contained-hover-color, $white);
  }

  &:is(:focus-visible, :active) {
    background-color: var(--s2s-btn-contained-focus-bg, $blue-gray-600);
    color: var(--s2s-btn-contained-focus-color, $white);
  }

  &:disabled {
    background-color: var(--s2s-btn-contained-disabled-bg, $blue-gray-50);
    color: var(--s2s-btn-contained-disabled-color, $blue-gray-300);
  }
}

%variant-contained-light {
  background-color: var(--s2s-btn-contained-light-bg, $blue-gray-500);
  color: var(--s2s-btn-contained-light-color, $white);

  &:hover {
    background-color: var(--s2s-btn-contained-light-hover-bg, $blue-gray-400);
    color: var(--s2s-btn-contained-light-hover-color, $white);
  }

  &:is(:focus-visible, :active) {
    background-color: var(--s2s-btn-contained-light-focus-bg, $blue-gray-600);
    color: var(--s2s-btn-contained-light-focus-color, $white);
  }

  &:disabled {
    background-color: var(--s2s-btn-contained-light-disabled-bg, $blue-gray-50);
    color: var(--s2s-btn-contained-light-disabled-color, $blue-gray-300);
  }
}

%variant-tonal {
  background-color: var(--s2s-btn-tonal-bg, $blue-gray-50);
  color: var(--s2s-btn-tonal-color, $blue-gray-900);

  &:hover {
    background-color: var(--s2s-btn-tonal-hover-bg, $blue-gray-50);
    color: var(--s2s-btn-tonal-hover-color, $blue-gray-900);
  }

  &:is(:focus-visible, :active) {
    background-color: var(--s2s-btn-tonal-focus-bg, $blue-gray-100);
    color: var(--s2s-btn-tonal-focus-color, $blue-gray-900);
  }

  &:disabled {
    background-color: var(--s2s-btn-tonal-disabled-bg, $blue-gray-50);
    color: var(--s2s-btn-tonal-disabled-color, $blue-gray-200);
  }
}

%variant-text {
  background-color: var(--s2s-btn-text-bg, $blue-gray);
}

%variant-danger {
  background-color: var(--s2s-btn-danger-bg, $error-700);
  color: var(--s2s-btn-contained-light-focus-color, $white);

  &:hover {
    background-color: var(--s2s-btn-tonal-hover-bg, $error-600);
    color: var(--s2s-btn-tonal-hover-color, $white);
  }
}
