server {
    listen       80;
    server_name  localhost;

    root   /usr/share/nginx/html; # Moved outside location to apply to all locations

    location / {
        try_files $uri $uri/ /index.html;
        index  index.html index.htm;
    }
}