@use '../variables' as *;
@use '../functions' as *;
@use '../mixins' as *;
@use 'sass:map';

$-space-var-map: map-to-var-map($spaces, 'space');

$spacing-utilities: (
  // Margin utilities
  'margin':
    (
      class: 'm',
      properties: margin,
      values:
        map.merge(
          $-space-var-map,
          (
            'auto': 'auto'
          )
        )
    ),
  'margin-x': (
    class: 'mx',
    properties: margin-right margin-left,
    values:
      map.merge(
        $-space-var-map,
        (
          'auto': 'auto'
        )
      )
  ),
  'margin-y': (
    class: 'my',
    properties: margin-top margin-bottom,
    values:
      map.merge(
        $-space-var-map,
        (
          'auto': 'auto'
        )
      )
  ),
  'margin-top': (
    class: 'mt',
    properties: margin-top,
    values:
      map.merge(
        $-space-var-map,
        (
          'auto': 'auto'
        )
      )
  ),
  'margin-right': (
    class: 'mr',
    properties: margin-right,
    values:
      map.merge(
        $-space-var-map,
        (
          'auto': 'auto'
        )
      )
  ),
  'margin-bottom': (
    class: 'mb',
    properties: margin-bottom,
    values:
      map.merge(
        $-space-var-map,
        (
          'auto': 'auto'
        )
      )
  ),
  'margin-left': (
    class: 'ml',
    properties: margin-left,
    values:
      map.merge(
        $-space-var-map,
        (
          'auto': 'auto'
        )
      )
  ),
  // Padding utilities
  'padding':
    (
      class: 'p',
      properties: padding,
      values: $-space-var-map
    ),
  'padding-x': (
    class: 'px',
    properties: padding-right padding-left,
    values: $-space-var-map
  ),
  'padding-y': (
    class: 'py',
    properties: padding-top padding-bottom,
    values: $-space-var-map
  ),
  'padding-top': (
    class: 'pt',
    properties: padding-top,
    values: $-space-var-map
  ),
  'padding-right': (
    class: 'pr',
    properties: padding-right,
    values: $-space-var-map
  ),
  'padding-bottom': (
    class: 'pb',
    properties: padding-bottom,
    values: $-space-var-map
  ),
  'padding-left': (
    class: 'pl',
    properties: padding-left,
    values: $-space-var-map
  )
);

@each $key, $utility in $spacing-utilities {
  @include generate-utilities($utility);
}
