@use '../foundation/variables' as *;

:root {
  /*=============================================
  =                  COLORS                     =
  =============================================*/
  /* Body colors */
  --s2s-body-text-color: #{$blue-gray-900};
  --s2s-body-bg-color: #{$light-gray};

  /* Header colors */
  --s2s-header-text-color: #{$blue-gray-900};
  --s2s-header-bg-color: #{$white};

  /* Footer colors */
  --s2s-footer-primary-bg: #{$blue-gray-900};
  --s2s-footer-primary-color: #{$blue-gray-50};
  --s2s-footer-light-bg: #{$blue-gray};
  --s2s-footer-light-color: #{$blue-gray-900};

  /* Button colors */
  --s2s-btn-primary-bg: #{$blue-gray-900};
  --s2s-btn-primary-color: #{$white};
  --s2s-btn-primary-hover: #{$blue-gray-800};
  --s2s-btn-primary-focus: #{$blue-gray-600};
  --s2s-btn-primary-disabled-bg: #{$blue-gray-50};
  --s2s-btn-primary-disabled-color: #{$blue-gray-300};

  --s2s-btn-tonal-bg: #{$blue-gray-50};
  --s2s-btn-tonal-color: #{$blue-gray-900};
  --s2s-btn-tonal-focus: #{$blue-gray-100};
  --s2s-btn-tonal-disabled-bg: #{$blue-gray-50};
  --s2s-btn-tonal-disabled-color: #{$blue-gray-300};

  /* Form colors */
  --s2s-text-field-border: #{$blue-gray-300};
  --s2s-text-field-border-hover: #{$blue-gray-800};
  --s2s-text-field-active: #{$blue-gray-900};
  --s2s-text-field-disabled: #{$blue-gray-100};
  --s2s-text-field-error: #{$error-600};

  /* Navigation colors */
  --s2s-tab-color: #{$blue-gray-100};
  --s2s-tab-active-color: #{$blue-gray-800};
  --s2s-tab-disabled-bg: #{$blue-gray-50};
  --s2s-tab-disabled-color: #{$blue-gray-300};

  --s2s-pagination-active-bg: #{$blue-gray-900};
  --s2s-pagination-active-color: #{$blue-gray-50};
  --s2s-pagination-hover-bg: #{$blue-gray-50};
  --s2s-pagination-color: #{$blue-gray-900};

  --s2s-scroll-bar-bg: #{$blue-gray-50};
  --s2s-scroll-bar-color: #{$blue-gray-300};

  /* Chat colors */
  --s2s-online-color: #{$success-400};

  --s2s-unread-counter-bg: #{$error-400};
  --s2s-unread-counter-color: #{$blue-gray-50};

  --s2s-hat-preview-clicked-bg: #{$blue-gray-100};
  --s2s-hat-preview-active-bg: #{$blue-gray-50};

  --s2s-message-contact-bg: #{$blue-gray-100};
  --s2s-message-contact-color: #{$blue-gray-900};
  --s2s-message-contact-timestamp-color: #{$blue-gray-500};

  --s2s-message-user-bg: #{$blue-gray-500};
  --s2s-message-user-color: #{$blue-gray};
  --s2s-message-user-timestamp-color: #{$blue-gray-100};

  --s2s-attachment-bg-hover: #{$blue-gray-50};
  --s2s-attachment-title-color: #{$blue-gray-900};
  --s2s-attachment-text-color: #{$blue-gray-500};

  --s2s-attachment-file-icon-bg: #{$turquoise-800};
  --s2s-attachment-file-icon-color: #{$white};

  --s2s-attachment-link-icon-bg: #{$blue-gray-400};

  /* Elements colors */
  --s2s-tooltip-bg: #{$blue-gray-900};
  --s2s-tooltip-color: #{$white};

  --s2s-alert-text-color: #{$white};
  --s2s-alert-success-bg: #{$success-500};
  --s2s-alert-error-bg: #{$error-500};

  /*=============================================
  =                TYPOGRAPHY                   =
  =============================================*/
  /* Body typography */
  --s2s-body-font-family: #{$rubik};
  --s2s-body-font-size: #{$fs-base};
  --s2s-body-font-weight: #{$fw-regular};
  --s2s-body-line-height: #{$lh-base};
  --s2s-body-letter-spacing: #{$ls-base};

  /* Headings font sizes */
  --s2s-h1-font-size: #{$fs-h1};
  --s2s-h2-font-size: #{$fs-h2};
  --s2s-h3-font-size: #{$fs-h3};
  --s2s-h4-font-size: #{$fs-h4};
  --s2s-h5-font-size: #{$fs-h5};
  --s2s-h6-font-size: #{$fs-h6};

  /* Text font sizes */
  --s2s-mid-title-font-size: #{$fs-lg};
  --s2s-subtitle1-font-size: #{$fs-base};
  --s2s-subtitle2-font-size: #{$fs-sm};
  --s2s-body1-font-size: #{$fs-base};
  --s2s-body2-font-size: #{$fs-sm};
  --s2s-caption1-font-size: #{$fs-xs};
  --s2s-caption2-font-size: #{$fs-xs};
  --s2s-overline-font-size: #{$fs-2xs};

  /* Headings font weights */
  --s2s-h1-font-weight: #{$fw-bold};
  --s2s-h2-font-weight: #{$fw-semibold};
  --s2s-h3-font-weight: #{$fw-medium};
  --s2s-h4-font-weight: #{$fw-medium};
  --s2s-h5-font-weight: #{$fw-medium};
  --s2s-h6-font-weight: #{$fw-medium};

  /* Text font weights */
  --s2s-mid-title-font-weight: #{$fw-medium};
  --s2s-subtitle1-font-weight: #{$fw-regular};
  --s2s-subtitle2-font-weight: #{$fw-medium};
  --s2s-body1-font-weight: #{$fw-regular};
  --s2s-body2-font-weight: #{$fw-regular};
  --s2s-caption1-font-weight: #{$fw-regular};
  --s2s-caption2-font-weight: #{$fw-medium};
  --s2s-overline-font-weight: #{$fw-regular};

  /* Headings line heights */
  --s2s-h1-line-height: #{$lh-h1};
  --s2s-h2-line-height: #{$lh-h2};
  --s2s-h3-line-height: #{$lh-h3};
  --s2s-h4-line-height: #{$lh-h4};
  --s2s-h5-line-height: #{$lh-h5};
  --s2s-h6-line-height: #{$lh-h6};

  /* Text line-heights */
  --s2s-mid-title-line-height: #{$lh-base};
  --s2s-subtitle1-line-height: #{$lh-base};
  --s2s-subtitle2-line-height: #{$lh-sm};
  --s2s-body1-line-height: #{$lh-base};
  --s2s-body2-line-height: #{$lh-sm};
  --s2s-caption1-line-height: #{$lh-sm};
  --s2s-caption2-line-height: #{$lh-sm};
  --s2s-overline-line-height: #{$lh-xs};

  /* Headings letter spacings */
  --s2s-h1-letter-spacing: #{$ls-h1};
  --s2s-h2-letter-spacing: #{$ls-h2};
  --s2s-h3-letter-spacing: #{$ls-h3};
  --s2s-h4-letter-spacing: #{$ls-h4};
  --s2s-h5-letter-spacing: #{$ls-h5};
  --s2s-h6-letter-spacing: #{$ls-h6};

  /* Text letter spacings */
  --s2s-mid-title-letter-spacing: #{$ls-none};
  --s2s-subtitle1-letter-spacing: #{$ls-xs};
  --s2s-subtitle2-letter-spacing: #{$ls-2xs};
  --s2s-body1-letter-spacing: #{$ls-base};
  --s2s-body2-letter-spacing: #{$ls-3xs};
  --s2s-caption1-letter-spacing: #{$ls-sm};
  --s2s-caption2-letter-spacing: #{$ls-sm};
  --s2s-overline-letter-spacing: #{$ls-lg};

  /* Headings text transforms */
  --s2s-h1-text-transform: #{$tt-none};
  --s2s-h2-text-transform: #{$tt-none};
  --s2s-h3-text-transform: #{$tt-none};
  --s2s-h4-text-transform: #{$tt-none};
  --s2s-h5-text-transform: #{$tt-none};
  --s2s-h6-text-transform: #{$tt-none};

  /* Text text transforms */
  --s2s-mid-title-text-transform: #{$tt-none};
  --s2s-subtitle1-text-transform: #{$tt-none};
  --s2s-subtitle2-text-transform: #{$tt-none};
  --s2s-body1-text-transform: #{$tt-none};
  --s2s-body2-text-transform: #{$tt-none};
  --s2s-caption1-text-transform: #{$tt-none};
  --s2s-caption2-text-transform: #{$tt-none};
  --s2s-overline-text-transform: #{$tt-uppercase};
}
