@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;800;900&display=swap');

:root {
   --scrollbar-background: #DEE0E1;
   --scrollbar-thumb-background: #9DA7AC;
   --scrollbar-thumb-hover-background: #727E84;
   --scrollbar-border-radius: 10px;
   --scrollbar-box-shadow: inset 0 0 5px rgba(43, 49, 52, 0.3);
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.section {
  margin-bottom: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}


::-webkit-scrollbar {
  background: var(--scrollbar-background)
}
::-webkit-scrollbar-track {
  box-shadow: var(--scrollbar-box-shadow); 
}
::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb-background); 
}
::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb-hover-background); 
}

body ::-webkit-scrollbar {
  width: 10px;
  background: var(--scrollbar-background);
  border-radius: var(--scrollbar-border-radius);
}
body ::-webkit-scrollbar-track {
  box-shadow: var(--scrollbar-box-shadow); 
  border-radius: var(--scrollbar-border-radius);
}
body ::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb-background); 
  border-radius: var(--scrollbar-border-radius);
}
body ::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb-hover-background); 
}
