@use 'variables' as *;

/*=============================================
=                 #COLORS                     =
=============================================*/

/**
 *
 * This file defines an actual colors that will be used for styling. The default values are the parameters 
 * which are declared in _variables.scss. This is default palette and can be overridden by developers 
 * with their own variables.
 *
 */

/*=============================================
 =            Global text colors            =
 =============================================*/

$body-text-color: var(--s2s-body-text-color, $blue-gray-900) !default;
$body-bg-color: var(--s2s-body-bg-color, $light-gray) !default;

$header-bg: var(--s2s-body-bg-color, $white) !default;
$header-text-color: var(--s2s-header-text-color, $blue-gray-900) !default;

$footer-primary-bg: var(--s2s-footer-primary-bg, $blue-gray-900) !default;
$footer-primary-color: var(--s2s-footer-primary-color, $blue-gray-50) !default;
$footer-light-bg: var(--s2s-footer-light-bg, $blue-gray) !default;
$footer-light-color: var(--s2s-footer-light-color, $blue-gray-900) !default;

/*=============================================
=                   Form                     =
=============================================*/

$text-filed-border: var(--s2s-text-field-border, $blue-gray-300) !default;
$text-filed-border-hover: var(--s2s-text-field-border-hover, $blue-gray-800) !default;
$text-filed-active: var(--s2s-text-field-active, $blue-gray-900) !default;
$text-filed-disabled: var(--s2s-text-field-disabled, $blue-gray-100) !default;
$text-filed-error: var(--s2s-text-field-border, $error-600) !default;

/*=============================================
=                Navigation                   =
=============================================*/

$tab-color: var(--s2s-tab-color, $blue-gray-100) !default;
$tab-active-color: var(--s2s-tab-active-color, $blue-gray-800) !default;
$tab-disabled-bg: var(--s2s-tab-disabled-bg, $blue-gray-50) !default;
$tab-disabled-color: var(--s2s-tab-disabled-color, $blue-gray-300) !default;

$pagination-active-bg: var(--s2s-pagination-active-bg, $blue-gray-900) !default;
$pagination-active-color: var(--s2s-pagination-active-color, $blue-gray-50) !default;
$pagination-hover-bg: var(--s2s-pagination-hover-bg, $blue-gray-50) !default;
$pagination-color: var(--s2s-pagination-color, $blue-gray-900) !default;

$scroll-bar-bg: var(--s2s-scroll-bar-color, $blue-gray-50) !default;
$scroll-bar-color: var(--s2s-scroll-bar-color, $blue-gray-300) !default;

/*=============================================
=                    Chat                     =
=============================================*/

$online-color: var(--s2s-online-color, $success-400) !default;

$unread-counter-bg: var(--s2s-unread-counter-bg, $error-400) !default;
$unread-counter-color: var(--s2s-unread-counter-color, $blue-gray-50) !default;

$chat-preview-clicked-bg: var(--s2s-hat-preview-clicked-bg, $blue-gray-100) !default;
$chat-preview-active-bg: var(--s2s-hat-preview-active-bg, $blue-gray-50) !default;

$message-contact-bg: var(--s2s-message-contact-bg, $blue-gray-100) !default;
$message-contact-color: var(--s2s-message-contact-color, $blue-gray-900) !default;
$message-contact-timestamp-color: var(--s2s-message-contact-timestamp-color, $blue-gray-500) !default;

$message-user-bg: var(--s2s-message-user-bg, $blue-gray-500) !default;
$message-user-color: var(--s2s-message-user-color, $blue-gray) !default;
$message-user-timestamp-color: var(--s2s-message-user-timestamp-color, $blue-gray-100) !default;


$attachment-bg-hover: var(--s2s-attachment-bg-hover, $blue-gray-50) !default;
$attachment-title-color: var(--s2s-attachment-title-color, $blue-gray-900) !default;
$attachment-text-color: var(--s2s-attachment-text-color, $blue-gray-500) !default;

$attachment-file-icon-bg: var(--s2s-attachment-file-icon-bg, $turquoise-800) !default;
$attachment-file-icon-color: var(--s2s-attachment-file-icon-color, $white) !default;

$attachment-link-icon-bg:var(--s2s-attachment-link-icon-bg, $blue-gray-400) !default;

/*=============================================
=                  Elements                   =
=============================================*/

$tooltip-bg: var(--s2s-tooltip-bg, $blue-gray-900) !default;
$tooltip-color: var(--s2s-tooltip-color, $white) !default;

$alert-text-color:var(--s2s-alert-text-color, $white) !default;
$alert-success-bg:var(--s2s-alert-success-bg, $success-500) !default;
$alert-error-bg:var(--s2s-alert-error-bg, $error-500) !default;
