@use '~scss/utilities' as *;
@use 'sass:list';
$sizes: (
  sm: (
    45,
    21,
    15,
    $border-width-sm
  ),
  md: (
    60,
    28,
    20,
    $border-width-md
  ),
  lg: (
    75,
    35,
    25,
    $border-width-lg - 1.5
  )
);

@mixin track-mixin($width, $border-width) {
  position: absolute;
  background-color: transparent !important;
  border: #{$border-width} solid $blue-gray-200;
  border-radius: calc(#{$width}px / 3);
  opacity: 1 !important;
  transition:
    background-color 0.3s ease,
    border-color 0.3s ease;

  .Mui-disabled & {
    border-color: $blue-gray-100 !important;
  }
}

@mixin thumb-mixin($diameter) {
  width: #{$diameter}px;
  height: #{$diameter}px;
  box-shadow: none;
  transition:
    transform 0.3s ease,
    background-color 0.3s ease;
}

@mixin switch-base-mixin($r-width, $t-width) {
  position: relative;
  color: $blue-gray-400;
  padding: 0;
  left: calc(#{$r-width}px / 10);

  &.Mui-checked {
    color: $blue-gray-800;
    left: calc(#{$r-width}px - #{$t-width}px - (#{$r-width}px / 10) - 20px);
  }

  &.Mui-disabled {
    color: $blue-gray-100;
  }
}

@mixin root-mixin($width, $height) {
  display: flex;
  align-items: center;
  width: #{$width}px;
  height: #{$height}px;
  overflow: visible;
  padding: 0;
  margin: 5px;
}

.#{$prefix}switch {
  @each $size, $values in $sizes {
    &--#{$size} {
      @include root-mixin(list.nth($values, 1), list.nth($values, 2));

      &:not(.Mui-disabled):hover .MuiSwitch-track {
        border-color: $blue-gray-500;
      }

      .MuiSwitch-thumb {
        @include thumb-mixin(list.nth($values, 3));
      }

      .MuiSwitch-track {
        @include track-mixin(list.nth($values, 1), list.nth($values, 4));
      }

      .MuiSwitch-switchBase {
        @include switch-base-mixin(
          list.nth($values, 1) + 2,
          list.nth($values, 3)
        );
      }
    }
  }
}

.#{$prefix}form-label-box {
  display: flex;
  align-items: center;
  overflow: visible;

  @each $size,
    $font-size in (sm: $font-size-sm, md: $font-size-md, lg: $font-size-lg)
  {
    &--#{$size} {
      .MuiFormControlLabel-label {
        color: $body-text-color;
        font-size: $font-size !important;
        margin-left: 0px;
        margin-right: 0px;
      }
    }
  }
}
