@use '~scss/utilities' as *;

.#{$prefix}divider-vertical {
  height: 90px;
}

.#{$prefix}divider-md {
  background-color: #9199a1;
}

.#{$prefix}divider {
  width: 100%;
  min-width: 200px;

  &-ellipse {
    border-radius: 50%;

    &-sm {
      background-color: #c8ccd0;
    }

    &-md {
      background-color: #9199a1;
    }

    &-lg {
      background-color: #9199a1;
    }

    &-small {
      width: 8px;
      height: 8px;
    }

    &-big {
      width: 16px;
      height: 16px;
    }
  }
}
