/*=============================================

=               TABLE OF CONTENT              =

=============================================*/

/**
 *
 * FOUNDATION...................
 * BASE.........................
 *
 */

/*=============================================
 =            FOUNDATION            =
 =============================================*/

@import './foundation/all';

/*=====  End of FOUNDATION  ======*/

/*=============================================
 =            BASE            =
 =============================================*/

@import './base/reset';
@import './base/root';

body {
  font-family: $body-font-family;
  font-size: $body-font-size;
  font-weight: $body-font-weight;
  line-height: $body-line-height;
  letter-spacing: $body-letter-spacing;
}

/*=====  End of BASE  ======*/
