@use '~/scss/utilities' as *;

.chip {
  margin: 5px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: var(--#{$prefix}space-0-5) var(--#{$prefix}space-1);
  border: none;
  border-radius: var(--#{$prefix}border-radius-md);
  font-family: var(--#{$prefix}font-family-rubik);
  cursor: pointer;
  border-width: var(--#{$prefix}border-width-md);

  &--sm {
    font-size: var(--#{$prefix}font-size-sm);
    line-height: var(--#{$prefix}line-height-sm);
  }

  &--md {
    font-size: var(--#{$prefix}font-size-md);
    line-height: var(--#{$prefix}line-height-md);
  }

  &--lg {
    font-size: var(--#{$prefix}font-size-lg);
    line-height: var(--#{$prefix}line-height-lg);
  }

  &.disabled {
    opacity: 0.7;
    cursor: not-allowed;
  }

  &--filter {
    position: relative;

    &.filled {
      &.selected {
        background-color: var(--#{$prefix}blue-gray-100);
      }

      &.unselected {
        background-color: var(--#{$prefix}blue-gray-50);
      }
    }

    &.minimal {
      color: var(--#{$prefix}blue-gray-600);

      &:hover {
        color: var(--#{$prefix}blue-gray-800);
      }

      &.selected,
      &.unselected {
        background-color: var(--#{$prefix}neutral-0);
      }
    }

    &.minimal,
    &.filled {
      &:hover {
        box-shadow: var(--#{$prefix}box-shadow-xs);
      }

      &.disabled {
        opacity: 1;
        color: var(--#{$prefix}blue-gray-500);
      }

      &.selected {
        color: var(--#{$prefix}blue-gray-800);

        &:hover {
          background-color: var(--#{$prefix}blue-gray-100);
        }

        &:active {
          background-color: var(--#{$prefix}blue-gray-200);
          transition: background-color 0.2s;
        }
      }

      &.unselected {
        &:hover {
          background-color: var(--#{$prefix}blue-gray-50);
          color: var(--#{$prefix}blue-gray-800);
        }

        &:active {
          background-color: var(--#{$prefix}blue-gray-100);
          transition: background-color 0.2s;
        }
      }
    }

    .dropdown-menu {
      position: absolute;
      top: 100%;
      left: 0;
      background-color: white;
      border: 1px solid var(--#{$prefix}blue-gray-300);
      border-radius: var(--#{$prefix}space-1);
      padding: var(--#{$prefix}space-1) 0;
      list-style: none;
      margin: 0;
      width: 100%;
      z-index: 10;
      box-shadow: var(--#{$prefix}box-shadow-xs);

      .dropdown-item {
        padding: var(--#{$prefix}space-1) var(--#{$prefix}space-2);
        cursor: pointer;
        transition: background-color 0.2s;

        &:hover {
          background-color: var(--#{$prefix}blue-gray-100);
        }
      }
    }
  }

  &--input {
    font-weight: var(--#{$prefix}font-weight-medium);

    &.outlined,
    &.filled-outlined {
      background-color: var(--#{$prefix}neutral-0);
      color: var(--#{$prefix}blue-gray-800);
      border: solid var(--#{$prefix}border-width-md)
        var(--#{$prefix}blue-gray-400);

      &.disabled {
        opacity: 1;
        color: var(--#{$prefix}blue-gray-500);
        border-color: var(--#{$prefix}blue-gray-200);
      }
    }

    &.filled-outlined {
      background-color: var(--#{$prefix}blue-gray-50);
    }
  }

  &--categories {
    display: inline-flex;
    gap: var(--#{$prefix}space-0-5);
  }

  &--category,
  &--state {
    font-weight: var(--#{$prefix}font-weight-regular);
    letter-spacing: var(--#{$prefix}letter-spacing-xl);
    text-transform: uppercase;
    background-color: var(--chip-bg-color);
    color: var(--chip-text-color);
  }

  &--state {
    border: solid 1px var(--chip-border-color);
  }

  .startIcon,
  .endIcon {
    display: flex;
    align-items: center;
    font-size: inherit;
  }

  .startIcon {
    margin-right: var(--#{$prefix}space-1);
  }

  .endIcon {
    margin-left: var(--#{$prefix}space-1);
  }

  .label {
    padding: var(--#{$prefix}space-0-5);
  }
}
