name: CI

on:
  push:
    branches: [main, develop]
  pull_request:
    branches: [main, develop, 'feature/**']

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      # Checkout the Repo
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      # Install Node 18
      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: 'npm'

      - name : Npm Install
        run: npm install
        
      - name : Lint
        run : npm run lint
        
      - name : Test
        run: npm test
        
      - name : Check Path
        run: ls -la && pwd && ls -la /
      
      - name: SonarCloud Scan
        uses: SonarSource/sonarcloud-github-action@master
        if: success() || failure()
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}  # Needed to get PR information, if any
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

  Test_Docker:
    runs-on: ubuntu-latest
    steps:

      #Checkout Repository
      - uses: actions/checkout@v3
      
      - name: Test Docker Compose
        uses: isbang/compose-action@v1.5.1
        with:
          compose-file: "./compose.yaml"
          up-flags: "-d --build"
        env:
          password: ${{ secrets.DOCKER_PASS }}

