h1 {
  font-size: 61px;
  font-style: normal;
  font-weight: 300;
  line-height: 72px;
  text-align: left;
  margin: 0;
  width: 475px;
}

p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
  text-align: left;
  width: 475px;
}

.container {
  display: flex;
  justify-content: left;
  margin-left: 20vw;
  height: 100vh;
  background-image: url('../../img/error-page/back401.png');
  background-repeat: no-repeat;
  background-position: center;
}

.text {
  margin-top: 35vh;
}

.root {
  background-color: #e5e5e5;
  width: 100vw;
  height: 100vh;
}

.button {
  height: 56px;
  width: 187px;
  border-radius: 4px;
  padding: 7px, 48px, 7px, 48px;
}
